.card_info {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: white;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: "#1890ff";
  margin-bottom: "8px";

  font-size: 1.2rem; /* El tamaño que ya tienes para móvil */
  text-align: center; /* Centrado en móvil */
}

@media (min-width: 768px) {
  .title {
    font-size: 2rem; /* Tamaño de fuente para desktop */
    text-align: left; /* Alineado a la izquierda en desktop */
  }
}

.card_info p {
  font-weight: 400;
  font-optical-sizing: auto;
  font-size: 1rem;
}

.card_info ul {
  font-weight: 600;
  text-align: left;
  font-size: 0.7rem;
}


/* core */

.switch_camera {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  gap: 8px;
  padding: 1rem 1.5rem;
}

.switch_camera input {
  display: none;
}

.slider {
  position: relative;
  min-width: 40px;
  min-height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.switch_camera input:checked + .slider {
  background-color: #4caf50;
}

.switch_camera input:checked + .slider::before {
  transform: translateX(20px);
}

.actions {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
}
.mirror {
  border-radius: 4px;
}
/* Estilo base (para móvil) */
.capture_btn {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 0; /* Oculta el texto en móvil */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.capture_btn::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: transparent;
}

/* Estilo para desktop */
@media (min-width: 768px) {
  .capture_btn {
    position: relative; /* Cambia a relative */
    top: auto;
    left: auto;
    transform: none;
    width: auto;
    height: auto;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #2196F3; /* Azul */
    color: white;
  }
  
  .capture_btn::after {
    display: none; /* Oculta el círculo en desktop */
  }
  
  .capture_btn:hover {
    background-color: #0b7dda; /* Azul más oscuro al hacer hover */
  }
}

.captured-image {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}
.success {
  background-color: #6cf994;
}

.error {
  background-color: #f96c6c;
}

.process {
  background-color: #6cbaf9;
}

.validation-status {
  margin-top: 0.6rem;
  padding: 0.5rem;
  border-radius: 11px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
}

.retry_btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: left;
  gap: 0.4rem;
}

.retry_btn img {
  width: 5%;
}
